@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    scroll-behavior: smooth;
}
:root{
    --font: 'Montserrat', sans-serif;
    --prime-font: 'Work Sans', sans-serif;
    --bg: white;
    --main-color: #008080;
    --main-font-color:#008080;
    --sec-font-color: black;
}
body{
    background: var(--bg);
    font-family: var(--font);
    color: var(--main-font-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* navbar */
.nav {
    width: 85%;
    height: 70px;
    margin: 0 auto;
    justify-content: space-between;
}
.checkBtn{
    display: none;
}
.nav .logo{
    font-size: 2em;
}
.nav ol{
    list-style: none;
}
.nav ol a{
    text-decoration: none;
    color: var(--sec-font-color);
    margin: 0.3em;
    padding: 0.5em 1.5em;
    border-radius: 10px;
}
.nav ol a:hover{
    transition: background .8s;
    background: var(--main-color);
}
/* mains section */
.main{
    width: 85%;
    height: 850px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}
.box h1:hover{
    color: black;
}
.box h1{
    font-size: 4.5em;
    margin-top: 0.2em;
}
.box p{
    font-size: 1.2em;
    color: var(--sec-font-color);
    margin-bottom: 1.2em;
}
.box .btn{
    border-radius: 0.1cm;
    font-size: 1.2em;
    background: none;
    color: var(--sec-font-color);
    cursor: pointer;
    border: 1px solid var(--main-color);
    width: 7em;
    height: 2.2em;  
    transition: all .4s;
}
.box .btn:hover{
    background: var(--main-color);
}
.main img{
    width: 35em;
    position: absolute;
    right: 60px;
    z-index: 7;
}

/* about */
.about{
    width: 100%;
    font-weight: 700;
    padding: 8em 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: start;
}
.about .box_wrap{
    margin: 2em 0;
}
.about .box_wrap .heading{
    font-size: 3em;
    margin-bottom: 0.5em;
    position: relative;
}

.about .box_wrap .text{
    color: var(--sec-font-color);
}
.about .box_wrap{
    width: 35%;
}
.skills_box i{
    margin-right: 0.5em;
    margin-bottom: .5em;
    color: var(--sec-font-color);
}

/* education */
.education{
    width: 100%;
    background: #1a252f;
    padding: 5em 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.education .left_box{
    width: 20%;
}
.education .left_box .container{
    margin: 2em 0;
}
.education .heading{
    font-size: 3em;
}
.education :is(h3, small, p){
    margin: 0.5em 0;
}
.left_box .container{
    position: relative;
}
.left_box .container::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 100%;
    background: var(--main-color);
    left: -20px;
}

.education .right_box{
    width: 40%;
}
.education .right_box img{
    width: 100%;
}
/* projects */
.projects{
    width: 100%;
    padding: 5em 0;
    background: #1a252f;
    flex-direction: column;
}
.projects h3{
    font-size: 3em;
}
.projects .container{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.Experience{
    width: 100%;
    padding: 5em 0;
    background: white;
    flex-direction: column;
}
.Experience h3{
    font-size: 3em;
}
.Experience .containerex{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.Experience .containerex a{
    text-decoration: none;
    color: black;
    margin: 2em 0.8em 0 0 ;
    position: relative;
}
.Experience .containerex a{
    text-decoration: none;
    color: black;
    margin: 2em 0.8em 0 0 ;
    position: relative;
}
.Experience .containerex a::before{
    content: '\f0a9';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    background: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path .4s;
}
.Experience .containerex a div{
    padding: 2em;
    background: rgba(255, 255, 255, 0.034);
}
.projects .container a{
    text-decoration: none;
    color: white;
    margin: 2em 0.8em 0 0 ;
    position: relative;
}
.projects .container a::before{
    content: '\f0a9';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    background: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path .4s;
}
.projects .container a:hover::before, a::after{
    clip-path: circle(70.7% at 50% 50%);
}
.projects .container a div{
    padding: 2em;
    background: rgba(255, 255, 255, 0.034);
}
img {
    max-width: 100%;
    max-height: 100%;
}
.b{
    text-align: left;
  }
.nohover{
    pointer-events: none;
  }
  .nohoverq{
    pointer-events: none;
    width: 200px;
    height: 100px;
  }
.projects .containerex a div{
    padding: 2em;
    background: rgba(255, 255, 255, 0.034);
}
/* contact */
.icons{
    font-size: 1.6rem;
    margin-top: 10px;
}
.icons i{
    color: #cfcfcf;
    cursor: pointer;
    margin-right: 10px;
    transition: all .4s;
}
.icons i:hover{
    color: #2c5364;
}
.contact{
    color: whitesmoke;
    background-color: black;
    width: 100%;
    padding: 5em 0;
    flex-direction: column;
}
.contact h3{
    font-size: 3em;
} h3:hover{
    color: paleturquoise;
}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color:  #2c5364; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  
footer {
    display: flex;
    overflow: hidden;
    background-color: black;
  }
  
  footer a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .copyright {
    color: #fff;
    margin-left: auto;
    padding-right: 15px;
  }
  
  .flex-align-left {
    margin-left: auto;
  }
  #linkdn_handle {
  color: #0e76a8;
}
#insta_handle {
    color: #dd2a7b;
  }
  #insta_handle:hover{
      
    text-shadow: 0 0 15px  #dd2a7b;
  }
  #facebook{
    color: #3b5998;
  }
  #facebook:hover{
    text-shadow: 0 0 15px  #3b5998;
  }
  @media (max-width: 1250px){
    .main img{ width: 25em; right: 0; }
}
@media (max-width: 1350px){
    body{ font-size: 14px; }
    .main img{ width: 35em; top: 80px; }
    .main{ align-items: flex-end; }
    .checkBtn{
        display: block; width: 25px;
        height: 25px; cursor: pointer;
        position: relative; appearance: none;
        -webkit-appearance: none;
    }
    .checkBtn::before{
        content: '\f0c9'; font-family: 'Font Awesome 5 Free';
        font-weight: 700; font-size: 1.9em;
        color: var(--sec-font-color);
    }
    .checkBtn:checked::before{ content: '\f00d'; }
    .nav ol{
        position: absolute; width: 100%;
        flex-direction: column;  background: var(--bg);
        top: 80px; left: 0;
        z-index: 100; padding: 1.2em 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); transition: clip-path .4s;
    }
    .checkBtn:checked ~ ol{ clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    .nav ol::before{
        content: '';  position: absolute;
        bottom: 0; left: 0;
        width: 100%;  height: 5px;
        background: var(--main-color);
    }
}
@media (max-width: 900px){
    .main img{
        width: 30em;
    }   
    .about .box_wrap, .education .left_box, .education .right_box{
        width: 60%;
    }
}



  @media screen and (max-width: 700px) {
      .box h1{
          font-size: 52px;
      }
    .main img {
        height: auto;
        width: 100%;
      }
    footer {
      flex-direction: column;
      padding: 10px 0px;
    }
  
    .flex-align-left {
      margin-left: 0;
    }
  }


  div.imagefil::before {
    background-image:url('C:\Users\AYUSH\Desktop\Myweb\Portfolio.github.io\filimage.svg');
 }